<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.db.OwnerCompanyFlowSummmaryMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.OwnerCompanyFlowSummmary">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="company_flow_money_count" jdbcType="BIGINT" property="companyFlowMoneyCount"/>
        <result column="company_flow_num" jdbcType="INTEGER" property="companyFlowNum"/>
        <result column="account_code" jdbcType="BIGINT" property="accountCode"/>
        <result column="account_num" jdbcType="BIGINT" property="accountNum"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"/>
        <result column="bank_system_code" jdbcType="VARCHAR" property="bankSystemCode"/>
        <result column="bank_system_name" jdbcType="VARCHAR" property="bankSystemName"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, owner_id, company_flow_money_count, company_flow_num, account_code, account_num, 
    account_name, bank_system_code, bank_system_name, state, pdate
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from owner_company_flow_summmary
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from owner_company_flow_summmary
    where Id = #{id,jdbcType=INTEGER}
  </delete>
    <!--保存公司入款详情-->
    <insert id="insert" parameterType="com.magic.crius.po.OwnerCompanyFlowSummmary" >
        insert into owner_company_flow_summmary (owner_id, company_flow_money_count,
          company_flow_num, account_code, account_num,
          account_name, bank_system_code, bank_system_name,
          state, pdate)
        values (#{ownerId,jdbcType=BIGINT}, #{companyFlowMoneyCount,jdbcType=BIGINT},
          #{companyFlowNum,jdbcType=INTEGER}, #{accountCode,jdbcType=BIGINT}, #{accountNum,jdbcType=BIGINT},
          #{accountName,jdbcType=VARCHAR}, #{bankSystemCode,jdbcType=VARCHAR}, #{bankSystemName,jdbcType=VARCHAR},
          #{state,jdbcType=INTEGER}, #{pdate,jdbcType=INTEGER})
     </insert>


    <!--追加金额和数量-->
    <update id="updateSummer" parameterType="com.magic.crius.po.OwnerCompanyFlowSummmary">
        UPDATE owner_company_flow_summmary
        set company_flow_money_count=company_flow_money_count+#{companyFlowMoneyCount},
        company_flow_num = company_flow_num + #{companyFlowNum}
        WHERE owner_id = #{ownerId}
        and account_num =#{accountNum}
        and pdate = #{pdate}
    </update>


    <!--检查是否有数据-->
    <select id="checkExist" resultType="java.lang.Integer">
        SELECT count(id) from owner_company_flow_summmary
        WHERE owner_id=#{ownerId} AND account_num=#{accountNum} AND pdate=#{pdate}
    </select>
</mapper>