<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.db.UserAccountSummaryMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.UserAccountSummary">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="flow_num" jdbcType="BIGINT" property="flowNum"/>
        <result column="flow_count" jdbcType="BIGINT" property="flowCount"/>
        <result column="out_num" jdbcType="BIGINT" property="outNum"/>
        <result column="out_count" jdbcType="BIGINT" property="outCount"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
    </resultMap>


    <!--插入数据-->
    <insert id="insert" parameterType="com.magic.crius.po.UserAccountSummary">
    insert into user_account_summary (owner_id, user_id,
      flow_num, flow_count, out_num, 
      out_count, pdate)
    values ( #{ownerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{flowNum,jdbcType=BIGINT}, #{flowCount,jdbcType=BIGINT}, #{outNum,jdbcType=BIGINT}, 
      #{outCount,jdbcType=BIGINT}, #{pdate,jdbcType=INTEGER})
  </insert>

    <!--批量插入数据-->
    <insert id="batchInsert" parameterType="com.magic.crius.po.UserAccountSummary">
        insert into user_account_summary (owner_id, user_id,
        flow_num, flow_count, out_num,
        out_count, pdate)
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.ownerId,jdbcType=BIGINT},
            #{param.userId,jdbcType=BIGINT},
            #{param.flowNum,jdbcType=BIGINT},
            #{param.flowCount,jdbcType=BIGINT},
            #{param.outNum,jdbcType=BIGINT},
            #{param.outCount,jdbcType=BIGINT},
            #{param.pdate,jdbcType=INTEGER})
        </foreach>

    </insert>

    <!--修改数据-->
    <update id="updateSummary" parameterType="com.magic.crius.po.UserAccountSummary">
    update user_account_summary
      <set>
          <if test="flowNum != null and flowNum > 0">
              flow_num = flow_num + #{flowNum,jdbcType=BIGINT},
          </if>
          <if test="flowCount != null and flowCount > 0">
              flow_count = flow_count + #{flowCount,jdbcType=BIGINT},
          </if>
          <if test="outNum != null and outNum > 0">
              out_num = out_num + #{outNum,jdbcType=BIGINT},
          </if>
          <if test="outCount != null and outCount > 0">
              out_count = out_count + #{outCount,jdbcType=BIGINT},
          </if>
      </set>
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND pdate = #{pdate,jdbcType=INTEGER}
  </update>

    <!--查询多个userId-->
    <select id="findByUserIds" resultMap="BaseResultMap">
        select user_id from user_account_summary
        WHERE user_id IN
        <foreach collection="list" item="userId" separator="," open="(" close=")">
            #{userId,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>