<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.db.BillInfoMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.BillInfo">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="proxy_id" jdbcType="BIGINT" property="proxyId"/>
        <result column="proxy_name" jdbcType="VARCHAR" property="proxyName"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_name" jdbcType="VARCHAR" property="orderName"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
        <result column="scheme_code" jdbcType="VARCHAR" property="schemeCode"/>
        <result column="scheme_name" jdbcType="VARCHAR" property="schemeName"/>
        <result column="account" jdbcType="BIGINT" property="account"/>
        <result column="income" jdbcType="BIGINT" property="income"/>
        <result column="bill_type" jdbcType="INTEGER" property="billType"/>
        <result column="start_time" jdbcType="BIGINT" property="startTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="pdate_name" jdbcType="VARCHAR" property="pdateName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <!--添加账单汇总表-->
    <insert id="insert" parameterType="com.magic.crius.po.BillInfo">
        insert into bill_info (owner_id, proxy_id,
          proxy_name, order_id, order_name,
          pdate, scheme_code, scheme_name,
          account, income, bill_type,
          start_time, end_time, pdate_name,
          status)
        values (#{ownerId,jdbcType=BIGINT}, #{proxyId,jdbcType=BIGINT},
          #{proxyName,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderName,jdbcType=VARCHAR},
          #{pdate,jdbcType=INTEGER}, #{schemeCode,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR},
          #{account,jdbcType=BIGINT}, #{income,jdbcType=BIGINT}, #{billType,jdbcType=INTEGER},
          #{startTime,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT}, #{pdateName,jdbcType=VARCHAR},
          #{status,jdbcType=INTEGER})
    </insert>


</mapper>