<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.GameInfoMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.GameInfo">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="game_id" jdbcType="VARCHAR" property="gameId"/>
        <result column="game_name" jdbcType="VARCHAR" property="gameName"/>
        <result column="game_type" jdbcType="VARCHAR" property="gameType"/>
        <result column="game_type_name" jdbcType="VARCHAR" property="gameTypeName"/>
        <result column="game_factory_type" jdbcType="VARCHAR" property="gameFactoryType"/>
        <result column="game_factory_type_name" jdbcType="VARCHAR" property="gameFactoryTypeName"/>
        <result column="game_abstract_type" jdbcType="VARCHAR" property="gameAbstractType"/>
        <result column="game_abstract_type_name" jdbcType="VARCHAR" property="gameAbstractTypeName"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, game_id, game_name, game_type, game_type_name, game_factory_type, game_factory_type_name, 
    game_abstract_type, game_abstract_type_name
  </sql>




    <insert id="insert" parameterType="com.magic.crius.po.GameInfo">
        insert into game_info ( game_id, game_name,
          game_type, game_type_name, game_factory_type,
          game_factory_type_name, game_abstract_type,
          game_abstract_type_name,update_time
          )
        values ( #{gameId,jdbcType=VARCHAR}, #{gameName,jdbcType=VARCHAR},
          #{gameType,jdbcType=VARCHAR}, #{gameTypeName,jdbcType=VARCHAR}, #{gameFactoryType,jdbcType=VARCHAR},
          #{gameFactoryTypeName,jdbcType=VARCHAR}, #{gameAbstractType,jdbcType=VARCHAR},
          #{gameAbstractTypeName,jdbcType=VARCHAR},#{updateTime,jdbcType=INTEGER}
          )
    </insert>

    <!--批量添加游戏基础信息-->
    <insert id="insertBatch" >
        insert into game_info ( game_id, game_name,
        game_type, game_type_name, game_factory_type,
        game_factory_type_name, game_abstract_type,
        game_abstract_type_name,update_time
        )
        values
        <foreach collection="param" item="param" separator=",">
          ( #{param.gameId,jdbcType=VARCHAR},
            #{param.gameName,jdbcType=VARCHAR},
            #{param.gameType,jdbcType=VARCHAR},
            #{param.gameTypeName,jdbcType=VARCHAR},
            #{param.gameFactoryType,jdbcType=VARCHAR},
            #{param.gameFactoryTypeName,jdbcType=VARCHAR},
            #{param.gameAbstractType,jdbcType=VARCHAR},
            #{param.gameAbstractTypeName,jdbcType=VARCHAR},
            #{param.updateTime,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    
    <update id="updateBatch" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
				update game_info
				    set game_name = #{item.gameName,jdbcType=VARCHAR},
				      game_type = #{item.gameType,jdbcType=VARCHAR},
				      game_type_name = #{item.gameTypeName,jdbcType=VARCHAR},
				      game_factory_type = #{item.gameFactoryType,jdbcType=VARCHAR},
				      game_factory_type_name = #{item.gameFactoryTypeName,jdbcType=VARCHAR},
				      game_abstract_type = #{item.gameAbstractType,jdbcType=VARCHAR},
				      game_abstract_type_name = #{item.gameAbstractTypeName,jdbcType=VARCHAR},
				      create_time = #{item.createTime,jdbcType=BIGINT},
				      update_time = #{item.updateTime,jdbcType=BIGINT}
				    where game_id = #{gameId,jdbcType=VARCHAR}
		 </foreach>
    </update>


    <!--删除所有游戏信息-->
    <delete id="deleteAll">
        DELETE FROM game_info where 1=1
    </delete>
    
    <delete id="deleteByGameId">
        DELETE FROM game_info where game_id in 
         ( <foreach collection="list" item="id" separator="," >
	            #{id,jdbcType=VARCHAR}
	        </foreach>
         )
    </delete>

    <!--获取游戏详情-->
    <select id="get" parameterType="com.magic.crius.po.GameInfo" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
         from game_info
        <where>
            <if test="gameId != null and gameId > 0">
                game_id = #{gameId}
            </if>
            <if test="gameFactoryType != null and gameFactoryType >0 ">
                and game_factory_type=#{gameFactoryType}
            </if>
            <if test="gameAbstractType != null and gameAbstractType > 0">
                and game_abstract_type=#{gameAbstractType}
            </if>
        </where>
    </select>
    
    <select id="findGameList" parameterType="com.magic.crius.po.GameInfo" resultMap="BaseResultMap">
        select game_id, game_name, game_type, game_type_name, game_factory_type, game_factory_type_name, 
    		game_abstract_type, game_abstract_type_name
         from game_info
        <where>
            <if test="gameId != null and gameId > 0">
                game_id = #{gameId}
            </if>
            <if test="gameFactoryType != null and gameFactoryType >0 ">
                and game_factory_type=#{gameFactoryType}
            </if>
            <if test="gameAbstractType != null and gameAbstractType > 0">
                and game_abstract_type=#{gameAbstractType}
            </if>
        </where>
    </select>

	<select id="getGameTypeByFactoryAll" resultType="hashmap">
			select CONCAT(game_factory_type, '-', game_abstract_type) game_key, game_type
			 from game_info  group by game_factory_type, game_abstract_type, game_type 
	</select>

    <select id="getGameType" resultType="string">
        select DISTINCT game_type FROM game_info where game_abstract_type = #{abstractType} and game_factory_type = #{factoryType}
    </select>

    <!--根据gameType拿取最大的gameId-->
    <select id="getGameId" resultType="java.lang.String">
        SELECT max(game_id) from game_info WHERE game_type = #{gameType}
    </select>
</mapper>