<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.OwnerReforwardDetailMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.OwnerReforwardDetail">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="game_type" jdbcType="VARCHAR" property="gameType"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="order_count" jdbcType="BIGINT" property="orderCount"/>
        <result column="effect_order_count" jdbcType="BIGINT" property="effectOrderCount"/>
        <result column="reforward_money_count" jdbcType="BIGINT" property="reforwardMoneyCount"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, owner_id, user_id, game_type, order_num, order_count, effect_order_count, reforward_money_count, 
    order_id, pdate, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from owner_reforward_detail
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from owner_reforward_detail
    where Id = #{id,jdbcType=INTEGER}
  </delete>

    <!--添加-->
    <insert id="insert" parameterType="com.magic.crius.po.OwnerReforwardDetail">
        insert into owner_reforward_detail (owner_id, user_id,
          game_type, order_num, order_count,
          effect_order_count, reforward_money_count, order_id,
          pdate, create_time, update_time
          )
        values (#{ownerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
          #{gameType,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{orderCount,jdbcType=BIGINT},
          #{effectOrderCount,jdbcType=BIGINT}, #{reforwardMoneyCount,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},
          #{pdate,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
          )
    </insert>


    <!--添加-->
    <insert id="batchInsert" >
        <foreach collection="list" item="param" separator=";">
            insert into owner_reforward_detail (owner_id, user_id,
            game_type, order_num, order_count,
            effect_order_count, reforward_money_count, order_id,
            pdate, create_time, update_time
            )
            values
            (#{param.ownerId,jdbcType=BIGINT},
            #{param.userId,jdbcType=BIGINT},
            #{param.gameType,jdbcType=VARCHAR},
            #{param.orderNum,jdbcType=INTEGER},
            #{param.orderCount,jdbcType=BIGINT},
            #{param.effectOrderCount,jdbcType=BIGINT},
            #{param.reforwardMoneyCount,jdbcType=BIGINT},
            #{param.orderId,jdbcType=BIGINT},
            #{param.pdate,jdbcType=INTEGER},
            #{param.createTime,jdbcType=BIGINT},
            #{param.updateTime,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <!--修改-->
    <update id="updateDetail" parameterType="com.magic.crius.po.OwnerReforwardDetail">
        update owner_reforward_detail
        set
            order_num = order_num + #{orderNum,jdbcType=INTEGER},
            order_count = order_count + #{orderCount,jdbcType=BIGINT},
            effect_order_count = effect_order_count + #{effectOrderCount,jdbcType=BIGINT},
            reforward_money_count = reforward_money_count + #{reforwardMoneyCount,jdbcType=BIGINT}
        where pdate = #{pdate,jdbcType=INTEGER}
          AND owner_id = #{ownerId,jdbcType=BIGINT}
          AND game_type = #{gameType,jdbcType=VARCHAR}


    </update>

    <!--查询多个业主下的数据-->
    <select id="findByOwnerIds" resultMap="BaseResultMap">
        SELECT owner_id,game_type FROM owner_reforward_detail
        where pdate = #{pdate,jdbcType=INTEGER}
        AND owner_id IN
        <foreach collection="list" item="ownerId" separator="," open="(" close=")">
            #{ownerId,jdbcType=BIGINT}
        </foreach>

    </select>
</mapper>