<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.OwnerOnlineFlowSummmaryMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.OwnerOnlineFlowDetail">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="operate_flow_money_count" jdbcType="BIGINT" property="operateFlowMoneyCount"/>
        <result column="operate_flow_num" jdbcType="INTEGER" property="operateFlowNum"/>
        <result column="merchant_code" jdbcType="BIGINT" property="merchantCode"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
        <result column="pay_system_code" jdbcType="INTEGER" property="paySystemCode"/>
        <result column="pay_system_name" jdbcType="VARCHAR" property="paySystemName"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
    </resultMap>

    <!--添加-->
    <insert id="insert" parameterType="com.magic.crius.po.OwnerOnlineFlowDetail">
    insert into owner_online_flow_summmary (owner_id, operate_flow_money_count,
      operate_flow_num, merchant_code, merchant_name, 
      pay_system_code, pay_system_name, state, 
      pdate)
    values ( #{ownerId,jdbcType=BIGINT}, #{operateFlowMoneyCount,jdbcType=BIGINT},
      #{operateFlowNum,jdbcType=INTEGER}, #{merchantCode,jdbcType=BIGINT}, #{merchantName,jdbcType=VARCHAR}, 
      #{paySystemCode,jdbcType=INTEGER}, #{paySystemName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{pdate,jdbcType=INTEGER})
  </insert>

    <!--批量添加-->
    <insert id="batchInsert" parameterType="com.magic.crius.po.OwnerOnlineFlowDetail">
        insert into owner_online_flow_summmary (owner_id, operate_flow_money_count,
        operate_flow_num, merchant_code, merchant_name,
        pay_system_code, pay_system_name, state,
        pdate)
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.ownerId,jdbcType=BIGINT},
            #{param.operateFlowMoneyCount,jdbcType=BIGINT},
            #{param.operateFlowNum,jdbcType=INTEGER},
            #{param.merchantCode,jdbcType=BIGINT},
            #{param.merchantName,jdbcType=VARCHAR},
            #{param.paySystemCode,jdbcType=INTEGER},
            #{param.paySystemName,jdbcType=VARCHAR},
            #{param.state,jdbcType=INTEGER},
            #{param.pdate,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--获取多个业主的数据-->
    <select id="findByOwnerIds" resultMap="BaseResultMap">
        select owner_id,merchant_code from owner_online_flow_summmary
        WHERE pdate = #{pdate,jdbcType=INTEGER}
        AND owner_id IN
        <foreach collection="list" item="ownerId" separator="," open="(" close=")">
            #{ownerId,jdbcType=BIGINT}
        </foreach>
    </select>

    <!--追加金额和数量-->
    <update id="updateSummary" parameterType="com.magic.crius.po.OwnerOnlineFlowDetail">
        update owner_online_flow_summmary
        SET operate_flow_money_count = operate_flow_money_count + #{operateFlowMoneyCount,jdbcType=BIGINT},
                operate_flow_num = operate_flow_num + #{operateFlowNum,jdbcType=INTEGER}
        WHERE owner_id = #{ownerId,jdbcType=BIGINT}
        AND merchant_code = #{merchantCode,jdbcType=BIGINT}
        and pdate = #{pdate,jdbcType=INTEGER}
    </update>
</mapper>