<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.ProxyInfoMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.ProxyInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="proxy_id" jdbcType="BIGINT" property="proxyId"/>
        <result column="proxy_name" jdbcType="VARCHAR" property="proxyName"/>
        <result column="shareholder_id" jdbcType="BIGINT" property="shareholderId"/>
        <result column="shareholder_name" jdbcType="VARCHAR" property="shareholderName"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, proxy_id, proxy_name, shareholder_id, shareholder_name, owner_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from proxy_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from proxy_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.magic.crius.po.ProxyInfo">
        insert into proxy_info (proxy_id, proxy_name,
          shareholder_id, shareholder_name, owner_id
          )
        values ( #{proxyId,jdbcType=BIGINT}, #{proxyName,jdbcType=VARCHAR},
          #{shareholderId,jdbcType=BIGINT}, #{shareholderName,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}
          )
    </insert>

    <!--批量添加-->
    <insert id="batchInsert" >
        insert into proxy_info (proxy_id, proxy_name,
        shareholder_id, shareholder_name, owner_id
        )
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.proxyId,jdbcType=BIGINT},
            #{param.proxyName,jdbcType=VARCHAR},
            #{param.shareholderId,jdbcType=BIGINT},
            #{param.shareholderName,jdbcType=VARCHAR},
            #{param.ownerId,jdbcType=BIGINT}
            )
        </foreach>

    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.magic.crius.po.ProxyInfo">
        update proxy_info
        <set>
            <if test="proxyId != null">
                proxy_id = #{proxyId,jdbcType=BIGINT},
            </if>
            <if test="proxyName != null">
                proxy_name = #{proxyName,jdbcType=VARCHAR},
            </if>
            <if test="shareholderId != null">
                shareholder_id = #{shareholderId,jdbcType=BIGINT},
            </if>
            <if test="shareholderName != null">
                shareholder_name = #{shareholderName,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.crius.po.ProxyInfo">
    update proxy_info
    set proxy_id = #{proxyId,jdbcType=BIGINT},
      proxy_name = #{proxyName,jdbcType=VARCHAR},
      shareholder_id = #{shareholderId,jdbcType=BIGINT},
      shareholder_name = #{shareholderName,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

   <select id="getOwnerIdList" resultType="long" >
      SELECT DISTINCT owner_id FROM proxy_info
   </select>
</mapper>