<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.UserInfo">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="proxy_id" jdbcType="BIGINT" property="proxyId"/>
        <result column="proxy_name" jdbcType="VARCHAR" property="proxyName"/>
        <result column="shareholder_id" jdbcType="BIGINT" property="shareholderId"/>
        <result column="shareholder_name" jdbcType="VARCHAR" property="shareholderName"/>
        <result column="user_level" jdbcType="INTEGER" property="userLevel"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
    </resultMap>
    <sql id="Base_Column_List">
        Id, owner_id, user_id, user_account, proxy_id, proxy_name, shareholder_id, shareholder_name,
        user_level, create_time, update_time, owner_name, type
    </sql>

    <!--根据会员id获取数据-->
    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="findUserInfoList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where user_id in
        <foreach collection="userIdList" item="userId" index="index"
                 open="(" close=")" separator=",">
            #{userId}
        </foreach>

        and proxy_id in
        <foreach collection="proxyIdList" item="proxyId" index="index"
                 open="(" close=")" separator=",">
            #{proxyId}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_info
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.magic.crius.po.UserInfo">
        insert into user_info (owner_id, user_id,
          user_account, proxy_id, proxy_name,
          shareholder_id, shareholder_name, user_level,
          create_time, update_time, owner_name, type
          )
        values (#{ownerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
          #{userAccount,jdbcType=VARCHAR}, #{proxyId,jdbcType=BIGINT}, #{proxyName,jdbcType=VARCHAR},
          #{shareholderId,jdbcType=BIGINT}, #{shareholderName,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER},
          #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{ownerName,jdbcType=VARCHAR},
          #{type,jdbcType=INTEGER}
          )
    </insert>

    <!--批量添加-->
    <insert id="batchInsert" parameterType="com.magic.crius.po.UserInfo">
        <foreach collection="list" item="param" separator=";">
            insert into user_info (owner_id, user_id,
            user_account, proxy_id, proxy_name,
            shareholder_id, shareholder_name, user_level,
            create_time, update_time, owner_name, type
            )
            values
            (#{param.ownerId,jdbcType=BIGINT}
            , #{param.userId,jdbcType=BIGINT}
            , #{param.userAccount,jdbcType=VARCHAR}
            , #{param.proxyId,jdbcType=BIGINT}
            , #{param.proxyName,jdbcType=VARCHAR}
            , #{param.shareholderId,jdbcType=BIGINT}
            , #{param.shareholderName,jdbcType=VARCHAR}
            , #{param.userLevel,jdbcType=INTEGER}
            , #{param.createTime,jdbcType=BIGINT}
            , #{param.updateTime,jdbcType=BIGINT}
            , #{param.ownerName,jdbcType=VARCHAR}
            , #{param.type,jdbcType=INTEGER}
            )
        </foreach>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.magic.crius.po.UserInfo">
        update user_info
        <set>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userAccount != null">
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="proxyId != null">
                proxy_id = #{proxyId,jdbcType=BIGINT},
            </if>
            <if test="proxyName != null">
                proxy_name = #{proxyName,jdbcType=VARCHAR},
            </if>
            <if test="shareholderId != null">
                shareholder_id = #{shareholderId,jdbcType=BIGINT},
            </if>
            <if test="shareholderName != null">
                shareholder_name = #{shareholderName,jdbcType=VARCHAR},
            </if>
            <if test="userLevel != null">
                user_level = #{userLevel,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="ownerName != null">
                owner_name = #{ownerName,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.magic.crius.po.UserInfo">
    update user_info
    set owner_id = #{ownerId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      user_account = #{userAccount,jdbcType=VARCHAR},
      proxy_id = #{proxyId,jdbcType=BIGINT},
      proxy_name = #{proxyName,jdbcType=VARCHAR},
      shareholder_id = #{shareholderId,jdbcType=BIGINT},
      shareholder_name = #{shareholderName,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      owner_name = #{ownerName,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

    <!--修改会员层级-->
    <update id="updateLevel">
        UPDATE user_info
        SET user_level = #{userLevel,jdbcType=INTEGER}
        WHERE user_id = #{userId,jdbcType=BIGINT}
    </update>


    <select id="getSummaryNum" resultType="int" parameterType="com.magic.crius.po.UserInfo">
        select count(distinct detail.user_id) as userCount
        from (select user_id from user_order_detail
        where 1=1
        <if test="ownerId != null">
            and owner_id = #{ownerId,jdbcType=BIGINT}
        </if>
        <if test="beginTime != null">
            and  <![CDATA[ create_time >= #{beginTime,jdbcType=BIGINT} ]]>
        </if>
        <if test="endTime != null">
            and  <![CDATA[ create_time <= #{endTime,jdbcType=BIGINT} ]]>
        </if>
         UNION
        select user_id from user_flow_money_detail
        where 1=1
        <if test="ownerId != null">
            and owner_id = #{ownerId,jdbcType=BIGINT}
        </if>

        <if test="beginTime != null">
            and  <![CDATA[ create_time >= #{beginTime,jdbcType=BIGINT} ]]>
        </if>
        <if test="endTime != null">
            and  <![CDATA[ create_time <= #{endTime,jdbcType=BIGINT} ]]>
        </if>
        )detail join user_info info on detail.user_id = info.user_id
        <if test="proxyId != null">
            and info.proxy_id = #{proxyId,jdbcType=BIGINT}
        </if>

    </select>

    <select id="getProxyNum" resultType="int">
        select  count(proxy_id)  as userCount
        from proxy_info
        where owner_id = #{ownerId,jdbcType=BIGINT}

      </select>

    <!--根据层级获取用户-->
    <select id="findUserLevel" resultType="com.magic.crius.po.UserInfo" parameterType="com.magic.crius.po.UserInfo">
        SELECT
        <include refid="Base_Column_List"/>
        from user_info
        WHERE user_level = ${param.userLevel}
        <if test="offset != null and offset >= 0">
            limit #{offset},#{limit}
        </if>

    </select>
</mapper>