<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.UserFlowMoneyDetailMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.UserFlowMoneyDetail">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
        <result column="order_count" jdbcType="BIGINT" property="orderCount"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="pay_method" jdbcType="INTEGER" property="payMethod"/>
        <result column="flow_type" jdbcType="INTEGER" property="flowType"/>
        <result column="flow_id" jdbcType="BIGINT" property="flowId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
        <result column="handler_id" jdbcType="BIGINT" property="handlerId"/>
        <result column="handler_name" jdbcType="VARCHAR" property="handlerName"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="flow_detail_type" jdbcType="INTEGER" property="flowDetailType"/>
        <result column="pay_system_code" jdbcType="INTEGER" property="paySystemCode"/>
        <result column="pay_system_name" jdbcType="VARCHAR" property="paySystemName"/>
    </resultMap>

    <insert id="insert" parameterType="com.magic.crius.po.UserFlowMoneyDetail">
        insert into user_flow_money_detail (owner_id, user_id,
          merchant_code, merchant_name, order_count,
          state, pay_method, flow_type,
          flow_id, order_id, pdate,
          handler_id, handler_name, create_time,
          update_time,remark,
          flow_detail_type,
          pay_system_code,
          pay_system_name)
        values (#{ownerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
          #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, #{orderCount,jdbcType=BIGINT},
          #{state,jdbcType=INTEGER}, #{payMethod,jdbcType=INTEGER}, #{flowType,jdbcType=INTEGER},
          #{flowId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{pdate,jdbcType=INTEGER},
          #{handlerId,jdbcType=BIGINT}, #{handlerName,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT},
          #{updateTime,jdbcType=BIGINT},#{remark,jdbcType=VARCHAR},
          #{flowDetailType,jdbcType=INTEGER}
          )

    </insert>

    <!--批量添加-->
    <insert id="batchInsert" >
        insert into user_flow_money_detail (owner_id, user_id,
        merchant_code, merchant_name, order_count,
        state, pay_method, flow_type,
        flow_id, order_id, pdate,
        handler_id, handler_name, create_time,
        update_time,remark,
        flow_detail_type,
        pay_system_code,
        pay_system_name)
        values
        <foreach collection="list" item="param" separator=",">
          (#{param.ownerId,jdbcType=BIGINT},
            #{param.userId,jdbcType=BIGINT},
            #{param.merchantCode,jdbcType=VARCHAR},
            #{param.merchantName,jdbcType=VARCHAR},
            #{param.orderCount,jdbcType=BIGINT},
            #{param.state,jdbcType=INTEGER},
            #{param.payMethod,jdbcType=INTEGER},
            #{param.flowType,jdbcType=INTEGER},
            #{param.flowId,jdbcType=BIGINT},
            #{param.orderId,jdbcType=BIGINT},
            #{param.pdate,jdbcType=INTEGER},
            #{param.handlerId,jdbcType=BIGINT},
            #{param.handlerName,jdbcType=VARCHAR},
            #{param.createTime,jdbcType=BIGINT},
            #{param.updateTime,jdbcType=BIGINT},
            #{param.remark,jdbcType=VARCHAR},
            #{param.flowDetailType,jdbcType=INTEGER}
            )
        </foreach>
    </insert>



</mapper>