<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.dao.crius.db.UserOrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.UserOrderDetail">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="game_id" jdbcType="VARCHAR" property="gameId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_count" jdbcType="BIGINT" property="orderCount"/>
        <result column="effect_order_count" jdbcType="BIGINT" property="effectOrderCount"/>
        <result column="pay_off_count" jdbcType="BIGINT" property="payOffCount"/>
        <result column="order_state" jdbcType="INTEGER" property="orderState"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>

        <result column="is_paid" jdbcType="INTEGER" property="isPaid"/>
    </resultMap>


    <insert id="insert" parameterType="com.magic.crius.po.UserOrderDetail">
        insert into user_order_detail ( owner_id, user_id,
          game_id, order_id, order_count,
          effect_order_count, pay_off_count, order_state,
          pdate, create_time, update_time,
          is_paid
          )
        values ( #{ownerId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
          #{gameId,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{orderCount,jdbcType=BIGINT},
          #{effectOrderCount,jdbcType=BIGINT}, #{payOffCount,jdbcType=BIGINT}, #{orderState,jdbcType=INTEGER},
          #{pdate,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT},
          #{isPaid,jdbcType=INTEGER}
          )
    </insert>

    <!--批量添加-->
    <insert id="batchInsert" parameterType="com.magic.crius.po.UserOrderDetail">
        insert into user_order_detail ( owner_id, user_id,
        game_id, order_id, order_count,
        effect_order_count, pay_off_count, order_state,
        pdate, create_time, update_time,
        is_paid
        )
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.ownerId,jdbcType=BIGINT},
            #{param.userId,jdbcType=BIGINT},
            #{param.gameId,jdbcType=VARCHAR},
            #{param.orderId,jdbcType=INTEGER},
            #{param.orderCount,jdbcType=BIGINT},
            #{param.effectOrderCount,jdbcType=BIGINT},
            #{param.payOffCount,jdbcType=BIGINT},
            #{param.orderState,jdbcType=INTEGER},
            #{param.pdate,jdbcType=INTEGER},
            #{param.createTime,jdbcType=BIGINT},
            #{param.updateTime,jdbcType=BIGINT},
            #{param.isPaid,jdbcType=INTEGER}
            )
        </foreach>

    </insert>


    <update id="updateByPrimaryKey" parameterType="com.magic.crius.po.UserOrderDetail">
        update user_order_detail
        set owner_id = #{ownerId,jdbcType=BIGINT},
          user_id = #{userId,jdbcType=BIGINT},
          game_id = #{gameId,jdbcType=VARCHAR},
          order_id = #{orderId,jdbcType=INTEGER},
          order_count = #{orderCount,jdbcType=BIGINT},
          effect_order_count = #{effectOrderCount,jdbcType=BIGINT},
          pay_off_count = #{payOffCount,jdbcType=BIGINT},
          order_state = #{orderState,jdbcType=INTEGER},
          pdate = #{pdate,jdbcType=INTEGER},
          create_time = #{createTime,jdbcType=BIGINT},
          update_time = #{updateTime,jdbcType=BIGINT}
        where Id = #{id,jdbcType=INTEGER}
    </update>

    <!--查询订单列表中存在并且未派彩的订单-->
    <select id="findNoPaid">
        select order_id from user_order_detail
        where user_id = #{userId}
        and order_id = #{orderId}
        and is_paid = #{isPaid}
    </select>

    <!--修改订单派彩状态为已派彩-->
    <update id="updatePaidStatus">
        update user_order_detail
          SET is_paid = #{param.isPaid,jdbcType=BIGINT}
          WHERE user_id=#{param.userId,jdbcType=BIGINT}
          AND order_id = #{param.orderId,jdbcType=INTEGER}
    </update>
</mapper>