<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.crius.po.UserTrade">
    <resultMap id="BaseResultMap" type="com.magic.crius.po.UserTrade">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="trade_id" jdbcType="BIGINT" property="tradeId"/>
        <result column="trade_num" jdbcType="BIGINT" property="tradeNum"/>
        <result column="total_num" jdbcType="BIGINT" property="totalNum"/>
        <result column="trade_time" jdbcType="BIGINT" property="tradeTime"/>
        <result column="trade_type" jdbcType="INTEGER" property="tradeType"/>
        <result column="actionType" jdbcType="INTEGER" property="actiontype"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="pdate" jdbcType="INTEGER" property="pdate"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, user_id, trade_id, trade_num, total_num, trade_time, trade_type, actionType, 
    owner_id, pdate
  </sql>


    <insert id="insert" parameterType="com.magic.crius.po.UserTrade">
        insert into user_trade (user_id, trade_id,
          trade_num, total_num, trade_time,
          trade_type, actionType, owner_id,
          pdate)
        values ( #{userId,jdbcType=INTEGER}, #{tradeId,jdbcType=INTEGER},
          #{tradeNum,jdbcType=INTEGER}, #{totalNum,jdbcType=INTEGER}, #{tradeTime,jdbcType=BIGINT},
          #{tradeType,jdbcType=INTEGER}, #{actiontype,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER},
          #{pdate,jdbcType=INTEGER})
    </insert>

    <!--批量添加-->
    <insert id="insert">
        insert into user_trade (user_id, trade_id,
        trade_num, total_num, trade_time,
        trade_type, actionType, owner_id,
        pdate)
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.userId,jdbcType=INTEGER},
            #{param.tradeId,jdbcType=INTEGER},
            #{param.tradeNum,jdbcType=INTEGER},
            #{param.totalNum,jdbcType=INTEGER},
            #{param.tradeTime,jdbcType=BIGINT},
            #{param.tradeType,jdbcType=INTEGER},
            #{param.actiontype,jdbcType=INTEGER},
            #{param.ownerId,jdbcType=INTEGER},
            #{param.pdate,jdbcType=INTEGER})
        </foreach>

    </insert>


  <insert id="insertBatch">
        insert into user_trade (user_id, trade_id,
        trade_num, total_num, trade_time,
        trade_type, actionType, owner_id,
        pdate)
        values
        <foreach collection="list" item="param" separator=",">
          ( #{param.userId,jdbcType=INTEGER},
            #{param.tradeId,jdbcType=INTEGER},
            #{param.tradeNum,jdbcType=INTEGER},
            #{param.totalNum,jdbcType=INTEGER},
            #{param.tradeTime,jdbcType=BIGINT},
            #{param.tradeType,jdbcType=INTEGER},
            #{param.actiontype,jdbcType=INTEGER},
            #{param.ownerId,jdbcType=INTEGER},
            #{param.pdate,jdbcType=INTEGER})
        </foreach>

    </insert>



   <update id="update" parameterType="com.magic.crius.po.UserTrade">
    update user_trade
    set status=#{status,jdbcType=INTEGER},
    totalNum=#{param.totalNum,jdbcType=INTEGER}
    where 
    
     owner_id = #{ownerId,jdbcType=BIGINT} 
     and user_id = #{userId,jdbcType=BIGINT} 
     and trade_id=#{tradeId,jdbcType=INTEGER}
   </update>
</mapper>